:root{
  --bg-color:#1d1d1d;
  --second-bg-color: #023020;
  --text-color:#ededed;
  --main-color:#00ec00;
  --color-bg-variant: white;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-bg: #1f1f38;
  --color-white: #fff;
  --color-primary: #4db5ff;

  --transition: all 400ms ease;
  }
.class{
    background:var(--bg-color);
    color:var(--text-color);
} 

  
span{
    color: var(--main-color);
  }
.contact{
  min-height: auto;
  padding-bottom: 7rem;
}
.contact h2{

    display: inline-block;
  left: 50%;
  transform: translateX(-50%);
 
}
.contact form{
  max-height: 70rem;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box{
  position: relative;
  display: flex;
  flex-wrap:wrap ;
  justify-content: space-between;
}
.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field::placeholder,
.contact form .textarea-field textarea::placeholder{
  color: var(--text-color);
}
.contact form .focus{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:var(--text-color);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
  width: 100%;
}
.contact form .textarea-field{
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}
.contact form .textarea-field textarea{
  resize: none;
}
.contact form .btn-box.btns .btn{
  cursor: pointer; 
}


.btn-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.btn-box .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  font-weight: 600;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box .btn:hover{
  color: var(--main-color);
}
.btn-box .btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:var(--bg-color);
  z-index: -1;
  transition: .5s;
}
.btn-box .btn:nth-child(2){
  background: transparent;
  color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
  color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before{
  background: var(--main-color);
}


.btn-box .btn:hover::before{
  width: 100%;
}

@keyframes showRight{
  100%{
    width: 0;
  }
}


  .animate.scroll{
transition: 1s ease;
transition-delay: calc(.3s / var(--i));
animation: none;
}  

 



    @media(max-width:680px){
    
    .contact form .input-box .input-field{
      width: 100%;
    } 
}
 