
.font{
    
    font-family: 'Satisfy', cursive;
    font-family: 'Share Tech Mono', monospace;
}

.gradient{
    color: rgb(84,127,228);
    color: linear-gradient(90deg, rgba(84,127,228,1) 35%, rgba(20,15,174,0.8828781512605042) 43%);
}